﻿@model Nop.Plugin.Widgets.DisplayText.Models.DisplayTextModel

@{
    Layout = "_ConfigurePlugin";
}

<form asp-controller="WidgetsDisplayText" asp-action="Configure" method="post">
    <section class="content">
        <div class="container-fluid">
            <div class="cards-group">
                <div class="card card-default">
                    <div class="card-header">
                        @T("Plugins.Widgets.DisplayText.TextToDisplay")
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="TextToDisplay_OverrideForStore" asp-input="TextToDisplay" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="TextToDisplay" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="TextToDisplay" />
                                <span asp-validation-for="TextToDisplay"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card card-default">
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-9 offset-md-3">
                                <button type="submit" name="save" class="btn btn-primary">@T("Admin.Common.Save")</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>