﻿@inject Nop.Core.Domain.Common.AdminAreaSettings adminAreaSettings
@inject Nop.Services.Common.IGenericAttributeService genericAttributeService
@inject Nop.Core.IWorkContext workContext
@using Nop.Plugin.Payments.CustomerCreditPayment.Models
@using Nop.Web.Framework.Models.DataTables
@model CustomerCreditDetailsSearchModel
@{
    Layout = "_AdminLayout";

    const string hideCustomerInvoicePaymentList = "CustomerCreditDetails.HideCustomerInvoicePaymentList";
    var hideCustomerInvoicePaymentListBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideCustomerInvoicePaymentList, defaultValue: true);


    const string hideSearchBlockAttributeName = "CustomerCreditDetails.HideSearchBlock";
    var hideSearchBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideSearchBlockAttributeName);
}

<div class="content-header clearfix">
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="form-horizontal">
                <div class="cards-group">
                    <div class="card card-default card-search">
                        <div class="card-body">

                            <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                                <div class="search-text">@T("Admin.Common.Search")</div>
                                <div class="icon-search"><i class="fas fa-search" aria-hidden="true"></i></div>
                                <div class="icon-collapse"><i class="far fa-angle-@(!hideSearchBlock ? "up" : "down")" aria-hidden="true"></i></div>
                            </div>
                            <div class="search-body @(hideSearchBlock ? "closed" : "")">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                @T("Plugins.Payments.CustomerCreditPayment.List.FirstName")
                                            </div>
                                            <div class="col-md-8">
                                                <nop-editor asp-for="FirstName" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                @T("Plugins.Payments.CustomerCreditPayment.List.LastName")
                                            </div>
                                            <div class="col-md-8">
                                                <nop-editor asp-for="LastName" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                @T("Plugins.Payments.CustomerCreditPayment.List.Email")
                                            </div>
                                            <div class="col-md-8">
                                                <nop-editor asp-for="Email" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                                <div class="col-md-4">
                                                    @T("Plugins.Payments.CustomerCreditPayment.List.CustomerRoles")
                                                </div>
                                                <div class="col-md-8">
                                                    <nop-select asp-for="SelectedCustomerRoleIds" asp-items="Model.AvailableCustomerRoles" asp-multiple="true" />
                                                    <script>
                                                        $(document).ready(function() {
                                                            var rolesIdsInput =
                                                                $('#@Html.IdFor(model => model.SelectedCustomerRoleIds)')
                                                                    .data("kendoMultiSelect");
                                                            rolesIdsInput.setOptions({
                                                                autoClose: false,
                                                                filter: "contains"
                                                            });

                                                            @if (Model.AvailableCustomerRoles.Count == 0)
                                                            {
                                                                <text>
                                                                    rolesIdsInput.setOptions({
                                                                        enable: false,
                                                                        placeholder:
                                                                            'Select roles'
                                                                    });
                                                                    rolesIdsInput._placeholder();
                                                                    rolesIdsInput._enable();
                                                                </text>
                                                            }
                                                        });
                                                    </script>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="text-center col-12">
                                        <button type="button" id="search-customers-credit-details" class="btn btn-primary btn-search">
                                            <i class="fas fa-search"></i>
                                            @T("Admin.Common.Search")
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <nop-card asp-name="customer-invoice-payment-list" asp-icon="fas fa-info" asp-title="@T("Plugins.Payments.CustomerCreditPayment.CreditDetailsListTitle")" asp-hide-block-attribute-name="@hideCustomerInvoicePaymentList" asp-hide="@hideCustomerInvoicePaymentListBlock" asp-advanced="false">
                        <div class="card-body">
                            @{
                                var gridModel = new DataTablesModel
                                {
                                    Name = "customers-details-grid",
                                    UrlRead = new DataUrl("ListOfCreditCustomers", "CustomerCreditPayment", null),
                                    SearchButtonId = "search-customers-credit-details",
                                    Length = Model.PageSize,
                                    LengthMenu = Model.AvailablePageSizes,
                                    Filters = new List<FilterParameter>
                                                                            {
                                    new FilterParameter(nameof(Model.SelectedCustomerRoleIds)),
                                    new FilterParameter(nameof(Model.FirstName)),
                                    new FilterParameter(nameof(Model.LastName)),
                                    new FilterParameter(nameof(Model.Email))
                                    }

                                };
                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(CustomerCreditDetailsModel.FullName))
                                {
                                    Title = T("Plugins.Payments.CustomerCreditPayment.Fields.FullName").Text
                                });
                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(CustomerCreditDetailsModel.Email))
                                {
                                    Title = T("Plugins.Payments.CustomerCreditPayment.Fields.Email").Text
                                });
                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(CustomerCreditDetailsModel.CustomerRole))
                                {
                                    Title = T("Plugins.Payments.CustomerCreditPayment.Fields.CustomerRole").Text
                                });
                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(CustomerCreditDetailsModel.CreditLimt))
                                {
                                    Title = T("Plugins.Payments.CustomerCreditPayment.Fields.CreditLimt").Text
                                });
                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(CustomerCreditDetailsModel.CreditUsed))
                                {
                                    Title = T("Plugins.Payments.CustomerCreditPayment.Fields.CreditUsed").Text
                                });
                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(CustomerCreditDetailsModel.AvailableCredit))
                                {
                                    Title = T("Plugins.Payments.CustomerCreditPayment.Fields.AvailableCredit").Text,
                                });
                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(CustomerCreditDetailsModel.IsCreditPaymentActive))
                                {
                                    Title = T("Plugins.Payments.CustomerCreditPayment.Fields.IsCreditPaymentActive").Text,
                                    Render = new RenderBoolean()
                                });
                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(CustomerCreditDetailsModel.AllowOverspend))
                                {
                                    Title = T("Plugins.Payments.CustomerCreditPayment.Fields.AllowOverspend").Text,
                                    Render = new RenderBoolean()
                                });
                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(CustomerCreditDetailsModel.NopCustomerId))
                                {
                                    Title = T("Admin.Common.Edit").Text,
                                    Width = "80",
                                    ClassName = NopColumnClassDefaults.Button,
                                    Render = new RenderButtonEdit(new DataUrl("~/Admin/Customer/Edit/", nameof(CustomerCreditDetailsModel.NopCustomerId))),
                                });
                            }
                            @await Html.PartialAsync("Table", gridModel)
                        </div>
                    </nop-card>
                </div>
            </div>
        </div>
    </section>
