﻿@using Nop.Plugin.Payments.CustomerCreditPayment.Models
@model CustomerCreditDetailsModel
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-address-list-page");
}
@section left
{
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = 150 })
}

<div class="page account-page address-list-page">
    <div class="page-title">
        <h1>@T("Account.MyAccount") - @T("Plugins.Payments.CustomerCreditPayment.PublicPageTitle")</h1>
    </div>
    <div class="page-body">
        <nop-antiforgery-token />
        @if (Model.IsCreditPaymentActive)
        {
            <div class="address-list">
                <div class="section address-item">
                    <div class="title">
                        <strong>@Model.FullName</strong>
                    </div>
                    <ul class="info">
                        <li class="email">
                            <label>@T("Plugins.Payments.CustomerCreditPayment.Fields.IsCreditPaymentActive"):</label>
                            @Model.CreditPaymentEnableStr
                        </li>
                        <li class="email">
                            <label>@T("Plugins.Payments.CustomerCreditPayment.Fields.AvailableCredit"):</label>
                            @Model.AvailableCredit.ToString("0.00")  @Model.PrimaryStoreCurrencyCode
                        </li>
                        <li class="phone">
                            <label>@T("Plugins.Payments.CustomerCreditPayment.Fields.CreditUsed"):</label>
                            @Model.CreditUsed.ToString("0.00")  @Model.PrimaryStoreCurrencyCode
                        </li>
                        <li class="fax">
                            <label>@T("Plugins.Payments.CustomerCreditPayment.Fields.CreditLimt"):</label>
                            @Model.CreditLimt.ToString("0.00")  @Model.PrimaryStoreCurrencyCode
                        </li>
                        <li class="fax">
                            <label>@T("Plugins.Payments.CustomerCreditPayment.Fields.AllowOverspend"):</label>
                            @Model.AllowOverSpendStr
                        </li>
                    </ul>
                </div>
            </div>
        }
        else
        {
            <div class="no-data">
                @T("Plugins.Payments.CustomerCreditPayment.NoCreditDetails")
            </div>
        }
    </div>
</div>

<script asp-location="Footer">
    //creditDetailsMenu
    $(document).ready(function () {
        var li = $("ul").find("#creditDetailsMenu");
        li.siblings().find(".active").removeClass("active");
        li.addClass("active");
    });
</script>