﻿


<li class="customer-details" id="creditDetailsMenu">
    <a href="/CustomerCreditDertailsPublic/CreditDetailsPublicView">Credit details</a>
</li>

@*<script>
    //creditDetailsMenu
    $(document).ready(function () {
        $("#creditDetailsMenu").click(function () {
            alert();
            $(this).siblings().find(".active").removeClass("active");
            $(this).addClass("active");
        });
    })
</script>*@