﻿@inject Nop.Core.Domain.Common.AdminAreaSettings adminAreaSettings
@inject Nop.Services.Common.IGenericAttributeService genericAttributeService
@inject Nop.Core.IWorkContext workContext
@using Nop.Plugin.Payments.CustomerCreditPayment.Models
@using Nop.Web.Framework.Models.DataTables
@model CustomerCreditDetailsModel
@{
    Layout = "";

    const string hideCustomerCreditDetails = "CustomerPage.HideCustomerCreditDetailsBlock";
    var hideCustomerCreditDetailsBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideCustomerCreditDetails, defaultValue: true);
}


    <nop-card asp-name="customer-credit-details" asp-icon="fas fa-info" asp-title="@T("Plugins.Payments.CustomerCreditPayment.CreditDetailsTitle")" asp-hide-block-attribute-name="@hideCustomerCreditDetails" asp-hide="@hideCustomerCreditDetailsBlock"  asp-advanced="false">
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-md-3">
                        @T("Plugins.Payments.CustomerCreditPayment.Fields.IsCreditPaymentActive")
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="@Model.IsCreditPaymentActive" />
                        <span asp-validation-for="@Model.IsCreditPaymentActive"></span>
                    </div>
                </div>
            <div class="form-group row">
                <div class="col-md-3">
                    @T("Plugins.Payments.CustomerCreditPayment.Fields.AvailableCredit")
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="@Model.AvailableCredit" asp-postfix="@Model.PrimaryStoreCurrencyCode" />
                    <span asp-validation-for="@Model.AvailableCredit"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    @T("Plugins.Payments.CustomerCreditPayment.Fields.CreditLimt")
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="@Model.CreditLimt" asp-postfix="@Model.PrimaryStoreCurrencyCode" />
                    <span asp-validation-for="@Model.CreditLimt"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    @T("Plugins.Payments.CustomerCreditPayment.Fields.CreditUsed")
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="@Model.CreditUsed" asp-postfix="@Model.PrimaryStoreCurrencyCode" />
                    <span asp-validation-for="@Model.CreditUsed"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    @T("Plugins.Payments.CustomerCreditPayment.Fields.AllowOverspend")
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="@Model.AllowOverspend" />
                    <span asp-validation-for="@Model.AllowOverspend"></span>
                </div>
            </div>
                </div>
            <div class="card-body">
                <button type="submit" id="addCreditDetails" name="save" class="btn btn-primary">
                    <i class="far fa-save"></i>
                    @T("Admin.Common.Save")
                </button>

@*                <button  id="deleteCreditDetails" name="delete" class="btn btn-danger">
                    <i class="far fa-trash-alt"></i>
                    @T("Admin.Common.Delete")
                </button>*@
                <div class="col-md-9" style="display:none">
                    <nop-editor asp-for="@Model.NopCustomerId" />
                    <span asp-validation-for="@Model.NopCustomerId"></span>
                </div>
            </div>
    </nop-card>
        @await Component.InvokeAsync("AdminWidget", new { widgetZone = "credit_details_bottom_block",additionalData = Model })

    <script>
    $(document).ready(function () {
    $('#addCreditDetails').click(function () {
                $('#addCreditDetails').attr('disabled', true);
                var postData = {
                    Id: $("#@Html.IdFor(model => model.Id)").val(),
                    NopCustomerId: $("#@Html.IdFor(model => model.NopCustomerId)").val(),
                    AvailableCredit: $("#@Html.IdFor(model => model.AvailableCredit)").val(),
                    CreditLimt: $("#@Html.IdFor(model => model.CreditLimt)").val(),
                    CreditUsed: $("#@Html.IdFor(model => model.CreditUsed)").val(),
                    IsCreditPaymentActive: $("#@Html.IdFor(model => model.IsCreditPaymentActive)").is(':checked'),
                    AllowOverspend: $("#@Html.IdFor(model => model.AllowOverspend)").is(':checked'),
               };
                addAntiForgeryToken(postData);

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "@(Url.Action("Create", "CustomerCreditPayment"))",
                    data: postData,
                    success: function (data, textStatus, jqXHR) {
                        if (data.Result) {
                            $('#addCreditDetails').attr('disabled', false);
                            alert("Credit details saved!");
                        } else {
                            //display errors if returned
                            display_nop_error(data);
                        }
                    },
                    complete: function (jqXHR, textStatus) {
                                    
                    }
                });
            });


            $('#deleteCreditDetails').click(function () {
                $('#deleteCreditDetails').attr('disabled', true);
                var NopCustomerId = $("#@Html.IdFor(model => model.NopCustomerId)").val();
                addAntiForgeryToken(NopCustomerId);

                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.Action("Delete", "CustomerCreditPayment"))",
                    data: {
                        "id" : NopCustomerId
                    },
                    success: function (data, textStatus, jqXHR) {
                        if (data.Result) {
                            $('#deleteCreditDetails').attr('disabled', false);
                        } else {
                            //display errors if returned
                            display_nop_error(data);
                        }
                    },
                    complete: function (jqXHR, textStatus) {
                                    
                    }
                });
    });
        })
    </script>
