﻿@inject Nop.Core.Domain.Common.AdminAreaSettings adminAreaSettings
@inject Nop.Services.Common.IGenericAttributeService genericAttributeService
@inject Nop.Core.IWorkContext workContext
@using Microsoft.AspNetCore.Routing
@using Nop.Plugin.Payments.CustomerCreditPayment.Models
@using Nop.Web.Framework.Models.DataTables
@model CustomerInvoicePaymentSearchModel
@{
    Layout = "";

    const string hideCustomerInvoicePaymentList = "CustomerPage.HideCustomerInvoicePaymentList";
    var hideCustomerInvoicePaymentListBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideCustomerInvoicePaymentList, defaultValue: true);

}


       <nop-card asp-name="customer-invoice-payment-list" asp-icon="fas fa-info" asp-title="@T("Plugins.Payments.CustomerCreditPayment.InvoicePaymentTitle")" asp-hide-block-attribute-name="@hideCustomerInvoicePaymentList" asp-hide="@hideCustomerInvoicePaymentListBlock"  asp-advanced="false">
                        <div class="card-body">
                            @{
                                var gridModel = new DataTablesModel
                                {
                                    Name = "customers-grid",
                                    UrlRead = new DataUrl("InvoiceList", "CustomerCreditPayment", new RouteValueDictionary { [nameof(Model.CustomerId)] = Model.CustomerId}),

                                    Length = Model.PageSize,
                                    LengthMenu = Model.AvailablePageSizes,

                                };


                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(CustomCreditPaymentModel.InvoiceReference))
                                {
                                    Title = T("Plugins.Payments.CustomerCreditPayment.Fields.InvoiceReference").Text
                                });
                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(CustomCreditPaymentModel.PaymentDateUtc))
                                {
                                    Title = T("Plugins.Payments.CustomerCreditPayment.Fields.PaymentDateUtc").Text,
                                    Render = new RenderDate()
                                });
                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(CustomCreditPaymentModel.Amount))
                                {
                                    Title = T("Plugins.Payments.CustomerCreditPayment.Fields.Amount").Text,
                                });
                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(CustomCreditPaymentModel.Id))
                                {
                                    Title = T("Admin.Common.Edit").Text,
                                    Width = "80",
                                    ClassName = NopColumnClassDefaults.Button,
                                    Render = new RenderButtonEdit(new DataUrl("~/Admin/CustomerCreditPayment/InvoicePaymentEdit/", nameof(CustomCreditPaymentModel.Id))),
                                });
                                }
                            @await Html.PartialAsync("Table", gridModel)
                        </div>
                    <div class="card-body">
                        <button type="button" class="btn btn-primary" onclick="location.href = '@Url.Action("InvoicePaymentCreate","CustomerCreditPayment", new { customerId = Model.CustomerId })'">
                            @T("Plugins.Payments.CustomerCreditPayment.InvoiceCreateButton")
                        </button>
                    </div>
       </nop-card>
       @await Component.InvokeAsync("AdminWidget", new { widgetZone = "credit_invoice_payment_bottom_block",additionalData = Model })
                
