﻿@inject Nop.Core.Domain.Common.AdminAreaSettings adminAreaSettings
@inject Nop.Services.Common.IGenericAttributeService genericAttributeService
@inject Nop.Core.IWorkContext workContext
@using Microsoft.AspNetCore.Routing
@using Nop.Plugin.Payments.CustomerCreditPayment.Models
@using Nop.Web.Framework.Models.DataTables
@model CustomerCreditHistorySearchModel
@{
    Layout = "";

    const string hideCustomerCreditHistoryList = "CustomerPage.HideCreditHistoryList";
    var hideCustomerCreditHistoryListBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideCustomerCreditHistoryList, defaultValue: true);

}


       <nop-card asp-name="customer-credit-history-list" asp-icon="fas fa-info" asp-title="@T("Plugins.Payments.CustomerCreditPayment.CreditHistoryTitle")" asp-hide-block-attribute-name="@hideCustomerCreditHistoryList" asp-hide="@hideCustomerCreditHistoryListBlock"  asp-advanced="false">
                        <div class="card-body">
                            @{
                                var gridModel = new DataTablesModel
                                {
                                    Name = "customers-credit-history-grid",
                                    UrlRead = new DataUrl("CreditHistoryList", "CustomerCreditPayment", new RouteValueDictionary { [nameof(Model.CustomerId)] = Model.CustomerId}),

                                    Length = Model.PageSize,
                                    LengthMenu = Model.AvailablePageSizes,

                                };


                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(CustomerCreditHistoryModel.ActivityDateUtc))
                                {
                                    Title = T("Plugins.Payments.CustomerCreditPayment.Fields.ActivityDateUtc").Text,
                                    Render = new RenderDate()
                                });
                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(CustomerCreditHistoryModel.ActivityName))
                                {
                                    Title = T("Plugins.Payments.CustomerCreditPayment.Fields.ActivityType").Text,

                                });
                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(CustomerCreditHistoryModel.NewValueOfCreditUsed))
                                {
                                    Title = T("Plugins.Payments.CustomerCreditPayment.Fields.NewValueOfCreditUsed").Text,
                                });
                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(CustomerCreditHistoryModel.PrevValueOfCreditUsed))
                                {
                                    Title = T("Plugins.Payments.CustomerCreditPayment.Fields.PrevValueOfCreditUsed").Text,
                                });
                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(CustomerCreditHistoryModel.UsedCurrency))
                                {
                                    Title = T("Plugins.Payments.CustomerCreditPayment.Fields.UsedCurrency").Text,
                                });
                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(CustomerCreditHistoryModel.Description))
                                {
                                    Title = T("Plugins.Payments.CustomerCreditPayment.Fields.Description").Text,
                                });
                                }
                            @await Html.PartialAsync("Table", gridModel)
                        </div>
                   
       </nop-card>
                
