@using Nop.Plugin.Payments.CustomerCreditPayment.Models
@model CustomCreditPaymentModel

@{
    Layout = "_AdminLayout";
    //page title
    ViewBag.PageTitle = T("Plugins.Payments.CustomerCreditPayment.InvoicePayment.AddNew").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Customers list");
}

<div class="content-header clearfix">
        <h1 class="float-left">
            @T("Plugins.Payments.CustomerCreditPayment.InvoicePayment.AddNew") 
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="Edit" asp-controller="Customer" asp-route-id="@Model.NopCustomerId">@T("Admin.Customers.Customers.Addresses.BackToCustomer")</a>
            </small>
        </h1>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="cards-group">
                <div class="card card-default">
                    <div class="card-body">
                <form asp-controller="CustomerCreditPayment" asp-action="InvoicePaymentCreate" method="post">
                    <div class="content-header clearfix">
                            <div class="card-body">
                                <div class="col-md-3">
                                    @T("Plugins.Payments.CustomerCreditPayment.Fields.Amount")
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="@Model.Amount" asp-postfix="@Model.PrimaryStoreCurrencyCode" />
                                    <span asp-validation-for="@Model.Amount"></span>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col-md-3">
                                    @T("Plugins.Payments.CustomerCreditPayment.Fields.PaymentDateUtc")
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="@Model.PaymentDateUtc" />
                                    <span asp-validation-for="@Model.PaymentDateUtc"></span>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col-md-3">
                                    @T("Plugins.Payments.CustomerCreditPayment.Fields.InvoiceReference")
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="@Model.InvoiceReference" />
                                    <span asp-validation-for="@Model.InvoiceReference"></span>
                                </div>
                            </div>
                            </div>
                            <div class="card-body">
                                <button type="submit" id="addCreditDetails" name="save" class="btn btn-primary">
                                    <i class="far fa-save"></i>
                                    @T("Admin.Common.Save")
                                </button>

                                <div class="col-md-9" style="display:none">
                                    <nop-editor asp-for="@Model.NopCustomerId" />
                                    <span asp-validation-for="@Model.NopCustomerId"></span>
                                    <nop-editor asp-for="@Model.Id" />
                                    <span asp-validation-for="@Model.Id"></span>
                                </div>
                            </div>

                </form>
            </div>
        </div>
    </div>
    </div>
    </div>
</section>
