﻿@{
    Layout = "";
}
@model Nop.Plugin.Payments.CustomerCreditPayment.Models.PaymentInfoModel
<table width="100%" cellspacing="2" cellpadding="1" border="0">

    <tr>
        <td>
            <label asp-for="AvailableCredit">Available credit:</label>
        </td>
        <td>
            <span asp-for=@Model.AvailableCredit>@Model.AvailableCredit  @Model.PrimaryStoreCurrencyCode</span>
        </td>
    </tr>
    <tr>
        <td>
            <label asp-for="OrderReference">Order Reference:</label>
        </td>
        <td>
            <input type="text" asp-for="OrderReference" style="width:165px;" autocomplete="off" />
            @if (Model.HaveWarningMsg)
            {
                <span style="color:sandybrown" asp-for=@Model.WarningMsg>@Model.WarningMsg  </span>
            }
        </td>
    </tr>
</table>